MONGO_URI=YOUR_VALUE_HERE
JWT_SECRET=YOUR_VALUE_HERE
PORT=YOUR_VALUE_HERE
SMTP_HOST=YOUR_VALUE_HERE
SMTP_PORT=YOUR_VALUE_HERE
SMTP_USER=YOUR_VALUE_HERE
SMTP_PASS=YOUR_VALUE_HERE
SMTP_FROM=YOUR_VALUE_HERE

